In [3]:
# import des tables pm et rep
import os
import s3fs
import pandas as pd
# Create filesystem object
S3_ENDPOINT_URL = "https://" + os.environ["AWS_S3_ENDPOINT"]
fs = s3fs.S3FileSystem(client_kwargs={'endpoint_url': S3_ENDPOINT_URL})
BUCKET = "radjerad/inpi"
FILE_KEY_S3 = "data_rep_2017.csv"
FILE_PATH_S3 = BUCKET + "/" + FILE_KEY_S3

with fs.open(FILE_PATH_S3, mode="rb") as file_in:
    df_rep = pd.read_csv(file_in, sep=";")

/tmp/ipykernel_706/2301143330.py:13: DtypeWarning: Columns (7,14,15,17,26,32,33,34,35,36,37,38,39,40,42) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rep = pd.read_csv(file_in, sep=";")

In [4]:
df_rep.shape # 9 504 907

(9504907, 48)

In [5]:
df_rep.head()

,Code Greffe,Nom_Greffe,Numero_Gestion,Siren,Type,Nom_Patronymique,Nom_Usage,Pseudonyme,Prénoms,Dénomination,...,Rep_Perm_Pays,Conjoint_Collab_Nom_Patronym,Conjoint_Collab_Nom_Usage,Conjoint_Collab_Pseudo,Conjoint_Collab_Prénoms,Conjoint_Collab_Date_Fin,ID_Représentant,date_greffe,Libelle_Evt,source
0,5802,Nevers,2000B00416,429628324,P.Physique,CHARPENET,ROUSSET,NaN,Madeleine Marie-Thérèse,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,13,2017-05-03,Nouveau dirigeant,5802_S1_20170504_5_rep.csv
1,5802,Nevers,2003B00185,450548748,P.Physique,MOREL,NaN,NaN,Xavier,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-03,Nouveau dirigeant,5802_S1_20170504_5_rep.csv
2,5802,Nevers,2003B00185,450548748,P. Morale,NaN,NaN,NaN,NaN,CABINET ABAC CHABANNE,...,NaN,NaN,NaN,NaN,NaN,NaN,2,2017-05-03,Nouveau dirigeant,5802_S1_20170504_5_rep.csv
3,5802,Nevers,2003B00185,450548748,P. Morale,NaN,NaN,NaN,NaN,CABINET BC AUDIT,...,NaN,NaN,NaN,NaN,NaN,NaN,3,2017-05-03,Nouveau dirigeant,5802_S1_20170504_5_rep.csv
4,5802,Nevers,2017B00123,829334234,P.Physique,REBOUR,NaN,NaN,"Rebecca, Angélique",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2017-05-03,Nouveau dirigeant,5802_S1_20170504_5_rep.csv

In [6]:
FILE_KEY_S3 = "data_pm_2017.csv"
FILE_PATH_S3 = BUCKET + "/" + FILE_KEY_S3

with fs.open(FILE_PATH_S3, mode="rb") as file_in:
    df_pm = pd.read_csv(file_in, sep=";")

/tmp/ipykernel_706/3002956283.py:5: DtypeWarning: Columns (8,10,11,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_pm = pd.read_csv(file_in, sep=";")

In [7]:
df_pm.shape # 4 296 552

(4296552, 29)

In [8]:
df_pm.head()

,Code Greffe,Nom_Greffe,Numero_Gestion,Siren,Type_Inscription,Date_Immatriculation,Date_1re_Immatriculation,Date_Radiation,Date_Transfert,Sans_Activité,...,Capital,Capital_Actuel,Devise,Date_Clôture,Date_Clôture_Except.,Economie_Sociale_Solidaire,Durée_PM,Date_Greffe,Libelle_Evt,source
0,5802,Nevers,2000B00416,429628324,P,2000-03-02,NaN,NaN,NaN,NaN,...,86000.0,NaN,Euros,30 Septembre,NaN,Non,99.0,2017-05-03,Création,5802_S1_20170504_1_PM.csv
1,5802,Nevers,2003B00185,450548748,P,2003-10-22,NaN,NaN,NaN,NaN,...,136500.0,NaN,Euros,31 Décembre,NaN,Non,99.0,2017-05-03,Création,5802_S1_20170504_1_PM.csv
2,5802,Nevers,2017B00123,829334234,P,2017-05-03,2017-05-03,NaN,NaN,NaN,...,700.0,NaN,Euros,31 Mars,2018-03-31,Non,99.0,2017-05-03,Création,5802_S1_20170504_1_PM.csv
3,5802,Nevers,2017D00065,828733352,P,2017-03-31,2017-03-31,NaN,NaN,NaN,...,900.0,NaN,Euros,NaN,NaN,Non,99.0,2017-04-06,Création,5802_S1_20170504_1_PM.csv
4,5802,Nevers,2016B00313,823697826,P,2016-11-15,2016-11-15,NaN,NaN,NaN,...,500.0,NaN,Euros,30 Septembre,2017-09-30,Non,99.0,2016-12-30,Création,5802_S1_20170504_1_PM.csv

In [10]:
df_rep["Siren"].head()

0    429628324
1    450548748
2    450548748
3    450548748
4    829334234
Name: Siren, dtype: int64

In [11]:
df_pm["Siren"].head()

0    429628324
1    450548748
2    829334234
3    828733352
4    823697826
Name: Siren, dtype: int64

In [12]:
societes_rep_tc = pd.merge(df_pm, df_rep, on=["Siren"], how="left")

In [13]:
societes_rep_tc.shape # 10 526 915

(10526915, 76)